/.idea
/.vscode
/floppies
/target
/shared
*.swp
*.swo
*.rom
*.uk6
*.bin
*.dsk
*.moof
*.img
*.pram
*.dc42
*.snoww
Snow screenshot*.png
frontend_egui/map_files.rs.inc
SDL2.dll
SDL2.lib
# Web frontend build output and local test media
/frontend_web/www/snow_web.*
/frontend_web/www/media/
